<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/index.css" />

<!-- Page Content -->
<div class="container">
  <!-- Heading and Intro Section -->
  <div class="text-center mb-5">
    <h1 class="display-4">BookClub</h1>
    <p class="lead">
      Explore our collection of books, add your own, and dive into the reviews
      from fellow readers.
    </p>
    <a href="/books/new" class="btn btn-lg">Add a Book</a>
  </div>

  <!-- Book Cards Section -->
  <% for (let book of books) { %>
  <div class="card mb-4 shadow-sm">
    <div class="row g-0">
      <!-- Book Image Section -->
      <div
        class="col-12 col-md-4 d-flex justify-content-center align-items-center"
      >
        <a href="/books/<%= book._id %>">
          <img
            class="img-fluid rounded-start"
            src="<%= book.images[0].url %>"
            alt="<%= book.title %>"
          />
        </a>
      </div>

      <!-- Book Text Section -->
      <div class="col-12 col-md-8">
        <div class="card-body">
          <a href="/books/<%= book._id %>" style="text-decoration: none">
            <h5 class="card-title"><%= book.title %></h5>
          </a>

          <p class="card-text">
            <strong>Description:</strong> <%= book.description %>
          </p>

          <p class="card-text">
            <small><strong>Author:</strong> <%= book.author %></small>
          </p>

          <p class="card-text">
            <small>
              <strong>Submitted by:</strong>
              <a href="/users/<%= book.user._id %>"
                ><%= book.user.username %></a
              >
            </small>
          </p>

          <a href="/books/<%= book._id %>" class="btn btn-outline-primary"
            >View Book</a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
