<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/search.css" />

<div class="container">
  <h1 class="text-center">Search Results for "<%= query %>"</h1>

  <% if (results.length > 0) { %>
  <div class="row">
    <% results.forEach(book => { %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <a href="/books/<%= book._id %>">
          <img
            src="<%= book.images[0].url %>"
            class="card-img-top"
            alt="<%= book.title %>"
          />
        </a>
        <div class="card-body">
          <a href="/books/<%= book._id %>">
            <h5 class="card-title"><%= book.title %></h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted"><%= book.author %></h6>
          <a href="/books/<%= book._id %>" class="btn btn-view">View Details</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <p class="text-center">No results found.</p>
  <% } %>
</div>
