<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<link rel="stylesheet" href="/stylesheets/show.css">

<div class="row">
  <!-- Left Column: Book Details -->
  <div class="col-6">
    <!-- Carousel for Book Images -->
    <div id="bookCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% book.images.forEach((img, i) => { %>
        <div class="carousel-item <%= i === 0 ? "active" : "" %>">
          <img src="<%= img.url %>" class="d-block w-100 rounded" alt="" />
        </div>
        <% }) %>
      </div>
      <!-- Carousel Controls -->
      <% if(book.images.length > 1) { %>
      <a class="carousel-control-prev carousel-dark" href="#bookCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next carousel-dark" href="#bookCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
      <% } %>
    </div>

    <!-- Card for Book Information -->
    <div class="card mb-3">
      <div class="card-body">
        <!-- Book Title -->
        <h5 class="card-title"><%= book.title %></h5>
        <!-- Book Description -->
        <p class="card-text"><%= book.description %></p>
      </div>
      <!-- Author and Submitted By Information -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><small><strong>Author:</strong> <%= book.author %></small></li>
        <li class="list-group-item"><small><strong>Pages:</strong> <%= book.pages %></small></li>
        <li class="list-group-item"><small><strong>Release Date:</strong> <%= book.releaseDate %></small></li>
        <li class="list-group-item"><small><strong>Submitted by:</strong> <a href="/users/<%= book.user._id %>"><%= book.user.username %></a></small></li>
      </ul>
      <!-- Edit/Delete Buttons for Current User -->
      <% if(currentUser && book.user.equals(currentUser._id)) { %>
      <div class="card-body">
        <a class="card-link btn btn-edit" href="/books/<%=book._id%>/edit"><i class="bi bi-pencil"></i> Edit</a>
        <form class="d-inline" action="/books/<%=book._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>

  <!-- Right Column: Reviews Section -->
  <div class="col-6">
    <!-- Review Submission Form -->
    <% if(currentUser) { %>
    <h2>Leave a Review</h2>
    <form action="/books/<%=book._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
      <div class="mb-3">
        <fieldset class="starability-basic">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } else { %>
      <!-- Alert for Users Not Logged In -->
      <div class="alert alert-login alert-warning">
        <h2>Please Log In to Leave a Review</h2>
        <p>You need to be logged in to submit a review. Please <a href="/login" class="btn btn-login">log in</a> or <a href="/register" class="btn btn-register">register</a>.</p>
      </div>
      <% } %>

    <!-- Displaying Existing Reviews -->
    <% for(let review of book.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <!-- Reviewer's Username -->
        <h5 class="card-title"> <a href="/users/<%= review.owner._id %>" class="review-owner"><%= review.owner.username %></a></h5>
        <!-- Rating Information -->
        <p class="starability-result" data-rating="<%=review.rating%>">Rated: <%= review.rating %> stars</p>
        <!-- Review Content -->
        <p class="card-text">Review: <%= review.body %></p>
        <!-- Delete Button for Current User's Review -->
        <% if(currentUser && review.owner.equals(currentUser._id)) { %>
        <form action="/books/<%=book._id%>/reviews/<%=review._id %>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

